; [url "git@bitbucket.org:"]
; 	insteadOf = https://bitbucket.org/
; [url "git@bitbucket.org:"]
; 	insteadOf = https://bitbucket.org/

[core]
    pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'

[interactive]
    diffFilter = delta --color-only
